<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="col-sm align-self-center">
                <h1>FAQ</h1>
                <hr class="mt-0">
                <p>Sección de ayuda</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-left">
            <div id="accordion">

                <!-- Crear Relatos Section -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Crear Relatos
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div id="subAccordionOne">
                                <!-- Subcategory 1 -->
                                <div class="card">
                                    <div class="card-header" id="subHeadingOne1">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseOne1" aria-expanded="true" aria-controls="subCollapseOne1">
                                                ¿Cómo creo un relato?
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseOne1" class="collapse" aria-labelledby="subHeadingOne1" data-parent="#subAccordionOne">
                                        <div class="card-body">
                                            <p>Crear relatos es muy sencillo y solo deberás seguir los pasos marcados. </p>
                                            <ul>
                                                <li>Deberás acceder a la sección de "Nuevo relato", aquí podrás elegir una imagen para añadir a tu relato o bien elegir la opción "sin foto".</li>
                                                <li>Es importante que tengas claro qué imagen elegirás! ya que después no podrás volver a cambiarla.</li>
                                                <li>Una vez elegida la imagen, solo debes darle a continuar y ya estarás en el editor simplificado de texto para crear tu relato!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingOne2">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseOne2" aria-expanded="false" aria-controls="subCollapseOne2">
                                                ¿Cómo funciona el editor?
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseOne2" class="collapse" aria-labelledby="subHeadingOne2" data-parent="#subAccordionOne">
                                        <div class="card-body">
                                            <p>El editor simplificado está diseñado para ofrecer las funcionalidades más básicas y permitirte dar estilo a tus relatos. En la parte superior, encontrarás un panel con las siguientes opciones:</p>
                                            <div class="text-center"><p><img src="/images/faq/editor.png" alt="editor" class="img-fluid"></p></div>
                                            <ul>
                                                <li>Guardar tu relato y continuar escribiendo sin salir del editor.</li>
                                                <li>Previsualizar tu relato después de guardarlo al menos una vez, para tener una idea de cómo lucirá una vez finalizado.</li>
                                                <li>Dar estilos básicos a tus relatos con opciones como texto en negrita (bold) o en cursiva (italic).</li>
                                                <li>Alinear el texto según tus preferencias: a la derecha, a la izquierda o centrado.</li>
                                                <li>Contar caracteres para conocer el espacio disponible para tu relato.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Gestionar tus Relatos
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div id="subAccordionTwo">
                                <!-- Subcategory 1 -->
                                <div class="card">
                                    <div class="card-header" id="subHeadingTwo1">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseTwo1" aria-expanded="false" aria-controls="subCollapseTwo1">
                                                Borrar Relatos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseTwo1" class="collapse" aria-labelledby="subHeadingTwo1" data-parent="#subAccordionTwo">
                                        <div class="card-body">
                                            <p>Borrar un relato es un proceso sencillo, pero es importante recordar que una vez eliminado, no se podrá recuperar. Para borrar un relato, simplemente sigue estos pasos:</p>

                                            <ul>
                                                <li>Dirígete a la sección "Tus Relatos".</li>
                                                <li>Selecciona el relato que deseas eliminar.</li>
                                                <li>En la esquina superior derecha, encontrarás las opciones disponibles para gestionar tu relato.</li>
                                                <li>Haz clic en "Borrar".</li>
                                                <li>Se mostrará un mensaje de confirmación para asegurarte de que realmente deseas eliminarlo.</li>
                                            </ul>

                                            <p>Recuerda, esta acción es irreversible, así que asegúrate de estar completamente seguro antes de proceder.</p>

                                            <div class="text-center"><p><img src="/images/faq/borrar.png" alt="editor" class="img-fluid"></p></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingTwo2">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseTwo2" aria-expanded="false" aria-controls="subCollapseTwo2">
                                                Editar Relatos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseTwo2" class="collapse" aria-labelledby="subHeadingTwo2" data-parent="#subAccordionTwo">
                                        <div class="card-body">
                                            <p>Editar un relato es muy sencillo. Sigue estos pasos:</p>

                                            <ul>
                                                <li>Dirígete a la sección "Tus Relatos".</li>
                                                <li>Selecciona el relato que deseas editar.</li>
                                                <li>En la esquina superior derecha, encontrarás las opciones disponibles para gestionar tu relato.</li>
                                                <li>Haz clic en "Editar".</li>
                                            </ul>

                                            <p>Ahora estarás en el editor, donde podrás continuar con tu relato.</p>
                                            <div class="text-center"><p><img src="/images/faq/editar.png" alt="editor" class="img-fluid"></p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingTwo3">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseTwo3" aria-expanded="false" aria-controls="subCollapseTwo3">
                                                Publicar Relatos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseTwo3" class="collapse" aria-labelledby="subHeadingTwo3" data-parent="#subAccordionTwo">
                                        <div class="card-body">
                                            <p>Para publicar relatos, es imprescindible pertenecer a un grupo. Sin esta afiliación, no podrás realizar publicaciones. Sigue estos pasos para publicar un relato:</p>

                                            <ul>
                                                <li>Ve a la sección "Tus Relatos".</li>
                                                <li>Selecciona el relato que deseas publicar.</li>
                                                <li>En la parte superior, encontrarás las opciones de gestión para tu relato.</li>
                                                <li>Haz clic en "Publicar".</li>
                                                <li>Selecciona el grupo al que deseas enviar tu relato para su publicación.</li>
                                                <li>Recuerda que solo puedes enviar el relato una vez y esperar la decisión del gestor sobre su publicación o rechazo.</li>
                                            </ul>

                                            <p>Si el relato es rechazado, podrás enviarlo nuevamente. Sin embargo, si una versión del relato ya ha sido publicada en el grupo, no podrás enviarla nuevamente, incluso si se han realizado modificaciones.</p>

                                            <div class="text-center"><p><img src="/images/faq/publicar.png" alt="editor" class="img-fluid"></p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingTwo4">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseTwo4" aria-expanded="false" aria-controls="subCollapseTwo4">
                                                ¿Puedo cambiar la imagen de mi relato?
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseTwo4" class="collapse" aria-labelledby="subHeadingTwo4" data-parent="#subAccordionTwo">
                                        <div class="card-body">
                                            <p>Actualmente <b>no es posible cambiar la imagen seleccionada</b> durante la creación del relato, deberás pensar bien qué imagen elegirás!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gestión de Relatos Section -->
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Gestión básica de grupos
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div id="subAccordionThree">
                                <!-- Subcategory 1 -->
                                <div class="card">
                                    <div class="card-header" id="subHeadingThree1">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseThree1" aria-expanded="false" aria-controls="subCollapseThree1">
                                                Crear Grupos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseThree1" class="collapse" aria-labelledby="subHeadingThree1" data-parent="#subAccordionThree">
                                        <div class="card-body">
                                            <p>Para crear grupos, sigue estos simples pasos:</p>

                                            <ul>
                                                <li>Dirígete a la sección "Grupos".</li>
                                                <li>Haz clic en el botón "Crear grupo".</li>
                                                <li>Rellena el formulario con el nombre y una breve descripción del grupo.</li>
                                            </ul>

                                            <p>¡Y listo! Una vez creado, el grupo aparecerá en tu lista de grupos. Podrás identificar fácilmente los grupos que has creado gracias al icono que aparece a su izquierda. Los grupos de los que eres miembro se mostrarán con un icono de usuario, mientras que aquellos de los que eres gestor se identificarán con una corona.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingThree2">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseThree2" aria-expanded="false" aria-controls="subCollapseThree2">
                                                Borrar Grupos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseThree2" class="collapse" aria-labelledby="subHeadingThree2" data-parent="#subAccordionThree">
                                        <div class="card-body">
                                            <p>Una vez creado un grupo, puedes eliminarlo desde el menú de opciones que encontrarás a la derecha de cada grupo. Ten en cuenta que solo podrás eliminar los grupos en los que seas el gestor.</p>

                                            <p>Recuerda que al eliminar un grupo, toda la información contenida en él se perderá de forma permanente y no podrá ser recuperada.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingThree3">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseThree3" aria-expanded="false" aria-controls="subCollapseThree3">
                                                Editar Grupos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseThree3" class="collapse" aria-labelledby="subHeadingThree3" data-parent="#subAccordionThree">
                                        <div class="card-body">
                                            <p>Para editar un grupo, sigue estos pasos:</p>

                                            <ul>
                                                <li>Dirígete al menú de opciones que aparece a la derecha del grupo.</li>
                                                <li>Selecciona la opción de edición.</li>
                                                <li>Ahora podrás cambiar tanto el nombre como la descripción del grupo.</li>
                                            </ul>

                                            <p>Recuerda que solo podrás editar aquellos grupos en los que seas el gestor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingThree4">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseThree4" aria-expanded="false" aria-controls="subCollapseThree4">
                                                Invitar usuarios a grupos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseThree4" class="collapse" aria-labelledby="subHeadingThree4" data-parent="#subAccordionThree">
                                        <div class="card-body">
                                            <p>Solo los gestores de grupo pueden enviar invitaciones. Sigue estos pasos para invitar usuarios a un grupo:</p>

                                            <ul>
                                                <li>Dirígete al menú de opciones que aparece a la derecha en el listado de tus grupos.</li>
                                                <li>Selecciona la opción "Invitar usuario".</li>
                                                <li>Añade el correo electrónico al que deseas enviar la invitación.</li>
                                                <li>Podrás invitar tanto a usuarios registrados como no registrados.</li>
                                                <li>Los usuarios recibirán el código de acceso a tu grupo por correo electrónico.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingThree5">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseThree5" aria-expanded="false" aria-controls="subCollapseThree5">
                                                Unirse a un grupo
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseThree5" class="collapse" aria-labelledby="subHeadingThree5" data-parent="#subAccordionThree">
                                        <div class="card-body">
                                            <p>Para unirte a un grupo, necesitas tener el código de acceso proporcionado por el gestor del grupo. Ten en cuenta lo siguiente:</p>

                                            <ul>
                                                <li>Podrás unirte a un grupo desde la opción "Unirse a un grupo" en la sección de Grupos.</li>
                                                <li>Solo podrás unirte a un grupo si tienes el código de acceso correspondiente.</li>
                                                <li>El gestor del grupo será quien pueda aceptar o rechazar tu solicitud de unión al grupo.</li>
                                            </ul>

                                            <p>Recuerda que el acceso a un grupo está sujeto a la aprobación del gestor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingThree6">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseThree6" aria-expanded="false" aria-controls="subCollapseThree6">
                                                Ver las estadísticas de un grupo
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseThree6" class="collapse" aria-labelledby="subHeadingThree6" data-parent="#subAccordionThree">
                                        <div class="card-body">
                                            <p>El acceso a las estadísticas está reservado exclusivamente para el gestor del grupo. Sigue estos pasos para ver las estadísticas del grupo:</p>

                                            <ul>
                                                <li>Dirígete al menú de opciones que aparece a la derecha en el listado de grupos.</li>
                                                <li>Selecciona la opción "Ver estadísticas".</li>
                                                <li>Ahora podrás acceder a un resumen detallado de las estadísticas de tu grupo.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Administración de Grupos
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div id="subAccordionFour">
                                <div class="card">
                                    <div class="card-header" id="subHeadingFour1">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseFour1" aria-expanded="false" aria-controls="subCollapseFour1">
                                                Gestión de Invitaciones
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseFour1" class="collapse" aria-labelledby="subHeadingFour1" data-parent="#subAccordionFour">
                                        <div class="card-body">
                                            <p>Como gestor, tienes la opción de gestionar las solicitudes de ingreso a tu grupo. Puedes gestionarlas de las siguientes maneras:</p>

                                            <ul>
                                                <li>Gestionarlas individualmente.</li>
                                                <li>Gestionar varias a la vez.</li>
                                                <li>Rechazar todas o varias solicitudes a la vez.</li>
                                                <li>Aceptar todas o varias solicitudes a la vez.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingFour2">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseFour2" aria-expanded="false" aria-controls="subCollapseFour2">
                                                Gestión de Relatos del Grupo
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseFour2" class="collapse" aria-labelledby="subHeadingFour2" data-parent="#subAccordionFour">
                                        <div class="card-body">
                                            <p>Como gestor, tendrás un resumen de los relatos de tu grupo, que se clasificarán en tres categorías:</p>

                                            <ul>
                                                <li>Relatos publicados.</li>
                                                <li>Relatos rechazados.</li>
                                                <li>Relatos pendientes de revisión.</li>
                                            </ul>

                                            <p>Los relatos pendientes de revisión pueden ser evaluados para su posible publicación o rechazo. Tendrás la opción de añadir un feedback
                                                para que el usuario pueda leerlo, así como una calificación que se guardará exclusivamente para el gestor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingFour3">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseFour3" aria-expanded="false" aria-controls="subCollapseFour3">
                                                Calificación de Relatos
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseFour3" class="collapse" aria-labelledby="subHeadingFour3" data-parent="#subAccordionFour">
                                        <div class="card-body">
                                            <p>Los relatos enviados a un grupo pueden ser revisados y calificados exclusivamente por el gestor del grupo. Aquí algunas consideraciones:</p>

                                            <ul>
                                                <li>La calificación es visible únicamente para el gestor del grupo.</li>
                                                <li>Desde el listado de usuarios, en el menú de opciones de la derecha de cada usuario, el gestor puede ver las calificaciones de cada uno.</li>
                                                <li>El gestor tiene la capacidad de calcular la nota media de todos los relatos o de aquellos que considere oportunos.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="subHeadingFour4">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseFour4" aria-expanded="false" aria-controls="subCollapseFour4">
                                                Mis Relatos del Grupo
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseFour4" class="collapse" aria-labelledby="subHeadingFour4" data-parent="#subAccordionFour">
                                        <div class="card-body">
                                            Explicación de cómo acceder a tus relatos en el grupo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Gestiona tus Relatos de Grupo Section -->
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Gestiona tus Relatos de Grupo
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <div id="subAccordionFive">
                                <!-- Subcategory 1 -->
                                <div class="card">
                                    <div class="card-header" id="subHeadingFive1">
                                        <h6 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#subCollapseFive1" aria-expanded="false" aria-controls="subCollapseFive1">
                                                Subcategoría 1
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="subCollapseFive1" class="collapse" aria-labelledby="subHeadingFive1" data-parent="#subAccordionFive">
                                        <div class="card-body">
                                            Explicación de cómo usar la Subcategoría 1 de Gestiona tus Relatos de Grupo.
                                        </div>
                                    </div>
                                </div>
                                <!-- Repeat for up to 5 subcategories -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

