<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow h-100">
        <div class="card-header text-center">
          <h1>Editar Perfil</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col text-center">
              <img th:src="${userDto.avatar.url}" alt="Avatar" class="img-fluid my-4 rounded-circle avatar">
            </div>
            <div class="col">
              <a class="btn btn-primary my-5" href="#" role="button" th:href="@{/user/profile/edit-avatar}"> Cambiar Avatar</a>
            </div>
          </div>
          <form th:object="${userDto}" th:action="@{/user/profile/edit}" method="post">
            <!-- Campos de edición -->
            <div class="mb-3">
              <label for="firstName" class="form-label">Nombre *</label>
              <input type="text" class="form-control" id="firstName" name="firstName" th:value="${userDto.firstName}"
                     th:maxlength="60" pattern="^[a-zA-ZáéíóúüÁÉÍÓÚÜñÑ\s]+$" required>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="lastName" name="lastName" th:value="${userDto.lastName}"
                     th:maxlength="60" pattern="^[a-zA-ZáéíóúüÁÉÍÓÚÜñÑ\s]+$">
            </div>
            <div class="mb-3">
              <label for="firmaAutor" class="form-label">Firma de Autor</label>
              <input type="text" class="form-control" id="firmaAutor" name="firmaAutor" th:value="${userDto.firmaAutor}"
                     th:maxlength="60" pattern="^[a-zA-ZáéíóúüÁÉÍÓÚÜñÑ\s]+$">
            </div>
            <!-- Botón de enviar -->
            <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

