<!-- Page Content  -->
    <div class="container text-center">

        <div class="row">
            <div class="col">
                <div class="col-sm align-self-center">
                    <h1>¡Descubre tu potencial como escritor!</h1>
                    <p>
                        En Story Crafters, te ofrecemos la herramienta perfecta para mejorar tus habilidades de
                        escritura. Inspírate con nuestras ilustraciones y crea historias que te sorprenderán a ti mismo
                    </p>

                </div>
            </div>
        </div>

        <div class="row started-row">
            <div class="card col-md mr-5 ml-2 started-col shadow h-100">
                <div class="row justify-content-md-center">
                    <div class="col-8 col-sm-4 p-2 mt-4 steps">
                        Paso 1
                    </div>
                </div>
                <div class="text-center">
                    <h3>Elige una ilustración</h3>
                    <img src="/images/get_started_1.png" class="rounded" alt="...">
                </div>
            </div>
            <div class="card col-md started-col shadow h-100">
                <div class="row justify-content-md-center">
                    <div class="col-8 col-sm-4 p-2 mt-4 steps">
                        Paso 2
                    </div>
                </div>
                <h3>Escribe tu historia</h3>
                <div class="text-center">
                    <img src="/images/get_started_2.png" class="rounded" alt="...">
                </div>
            </div>
            <div class=" card col-md mr-2 ml-5 started-col shadow h-100">
                <div class="row justify-content-md-center">
                    <div class="col-8 col-sm-4 p-2 mt-4 steps">
                        Paso 3
                    </div>
                </div>
                <h3>Publícala en un grupo!</h3>
                <div class="text-center">
                    <img src="/images/get_started_3.png" class="rounded" alt="...">
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-8 col-sm-4 p-2 mt-4 steps">
                Empieza ahora!
            </div>
        </div>

    </div>
