<!-- Contenido principal -->
<div class="container text-center">
    <div class="col py-3">
        <h1>Mis Relatos</h1>
        <!-- Formulario de filtro por categorías -->
        <div class="mb-3">
            <label for="categoria" class="form-label">Filtrar por categoría:</label>
            <select id="categoria" name="categoria" class="form-select">
                <option value="">Selecciona una categoría</option>
                <!-- Iterar sobre las categorías disponibles -->
                <th:block th:each="categoria : ${listaCategorias}">
                    <option th:value="${categoria.nombre}" th:text="${categoria.nombre}"></option>
                </th:block>
            </select>
        </div>

        <!-- Card de relatos -->
        <th:block th:each="relato : ${relatos}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a th:utext="${relato.titulo}" th:href="@{'/relato/relatos/' + ${relato.id}}"></a></h5>
                <p class="card-text">Categorías: <span th:each="categoria : ${relato.categorias}" th:text="${categoria.nombre}"></span></p>
                <a th:href="@{'/relato/editar/' + ${relato.id}}" class="btn btn-primary">Editar</a>
            </div>
        </div>
        </th:block>
    </div>
</div>

