<link rel="stylesheet" href="/css/relatos.css">
<!-- Contenido principal -->
<div class="container" >
    <div class="row vista-relato">

        <div class="col-sm-10 vista-relato-separador">
            <div class="row" >
                <div class="col-md-12 vista-titulo-relato text-center" th:style="'background-image: url(' + ${relato.imagen.url} + '); opacity: 0.5;'" th:utext="${relato.titulo}"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-10 vista-texto-relato"  th:utext="${relato.texto}"></div>
            </div>
        </div>
        <div class="col-sm-2 vista-detalles-relato" >
            <div class="row text-center">
                <div class="col-sm-auto mt-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                         alt="Avatar" class="img-fluid">
                    <p th:text="${relato.firmaAutor}"></p>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-auto m-4" style="min-height: 100px;">
                    <p>Categorias:</p>
                    <ul>
                        <li th:each="categoria : ${relato.categorias}" th:text="${categoria.nombre}"></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-auto m-4" style="min-height: 100px;">Detalles varios posibles: (Fechas, me gusta)</div>
            </div>
        </div>
    </div>
</div>
