<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <hr class="mt-0">
                    <h1>Editar Grupo</h1>
                    <hr class="mt-0">
                </div>
                <div class="card-body">
                    <form th:object="${grupoDto}" th:action="@{'/grupos/actualizar-grupo/' + ${grupo.id}}" method="post">
                        <!-- Campos de edición -->
                        <div class="mb-3">
                            <label for="nombreGrupo" class="form-label">Nombre *</label>
                            <input type="text" class="form-control" id="nombreGrupo" name="nombre"  maxlength="50" th:value="${grupo.nombre}" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción *</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"  maxlength="500" th:text="${grupo.descripcion}" required></textarea>
                        </div>
                        <!-- Botón de enviar -->
                        <input type="hidden" id="idGrupo" th:value="${grupo.id}">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="javascript:history.back()" class="btn btn-warning">Cancelar cambios</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
