<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<link rel="stylesheet" href="/css/relatos.css">
<script src="/js/vistarelato.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
        <div class="col-sm text-right text-uppercase align-self-end codigo-acceso" th:if="${idUsuarioActual eq grupo.usuario.id}">
            <span>Código de Acceso: </span>
            <span class="font-weight-bold" id="codigo-acceso" th:text="${grupo.codigoAcceso}"></span>
            <i class="fa-regular fa-copy ml-2" id="copy-icon" style="cursor: pointer;"></i>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-center mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="row vista-relato-autor">
        <div class="col-sm-6">
            <a href="#" th:href="@{'/grupos/' + ${grupo.id} + '/usuario/'  + ${relatoGrupo.relato.usuario.id} + '/relatos'}">
                <img th:src="${relatoGrupo.relato.usuario.avatar.url}" alt="Avatar" class="img-fluid m-2 rounded-circle">
                <span th:text="${relatoGrupo.firmaAutor}"></span>
            </a>
        </div>
        <div class="col-sm-6" style="">
            <div class="row justify-content-end">
                <div class="col-sm-auto m-2">
                    <a class="btn btn-outline-primary m-1 btn-sm" href="#calificar">
                        Calificar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <span class="badge text-bg-primary" th:each="categoria : ${relatoGrupo.categorias}"
          th:text="${categoria.nombre}"></span>
    <div class="row vista-relato">
        <div class="col-sm-12 vista-relato-separador">
            <div class="row">
                <div class="col-md-12 vista-titulo-relato text-center"
                     th:style="${relatoGrupo.imagen.id != 1} ? 'background-image: url(' + ${relatoGrupo.imagen.url} + '); opacity: 0.75;' : 'background-color: #f8f9fb; opacity: 1;'">
                    <div class="floating-title text-uppercase" id="titulo-relato" contenteditable="true"  th:utext="${relatoGrupo.titulo}"></div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12 vista-texto-relato" th:utext="${relatoGrupo.texto}"></div>
            </div>
            <hr class="mt-0 mb-4">
            <div class="row justify-content-md-center">
                <div class="col-md-12" id="calificar">
                    <form th:action="@{/grupos/gestionar-relato}" th:object="${relatoGrupoDto}" method="post">
                        <div class="form-group">
                            <label for="calificacion">Calificación:</label>
                            <input type="text" class="form-control" id="calificacion" th:field="*{calificacion}" required pattern="[0-9]+(\.[0-9]{1,2})?" placeholder="0.00">
                            <small id="calificacionHelp" class="form-text text-muted">Ingrese un número entre 0 y 10 con hasta dos decimales.</small>
                        </div>
                        <div class="form-group">
                            <label for="feedback">Feedback:</label>
                            <textarea class="form-control" id="feedback" th:field="*{feedback}" required style="min-height: 100px"></textarea>
                        </div>
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" id="aprobado" name="aprobado" value="false">
                        <input type="hidden" id="idGrupo" name="idGrupo" th:value="${grupo.id}">
                        <button type="submit" class="btn btn-success m-3" id="aprobarBtn" onclick="setAprobado(true)" disabled>Aprobar</button>
                        <button type="submit" class="btn btn-danger m-3" id="rechazarBtn" onclick="setAprobado(false)" disabled>Rechazar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

