<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-sm-auto text-center">
            <h1 th:text="${grupo.nombre}"></h1>
        </div>
    </div>
</header>
<div class="nav-scroller py-1 mb-3 border-bottom nav-grupos">
    <nav class="nav nav-underline justify-content-between">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Botones para aprobar y rechazar todas las solicitudes -->
            <div class="mb-3">
                <button class="btn btn-success" onclick="aceptarSeleccionadas('aceptar')">Aceptar Seleccionadas
                </button>
                <button class="btn btn-danger" onclick="rechazarSeleccionadas('rechazar')">Rechazar Selecciondas
                </button>
                <input type="hidden" id="grupoId" th:value="${grupo.id}">
            </div>

            <!-- Encabezados de las columnas -->
            <div class="list-group-item d-flex justify-content-between align-items-center font-weight-bold text-center">
                <div class="col-sm-1 text-center">
                    <input type="checkbox" id="checkboxSeleccionarTodos" onchange="toggleSeleccionarTodos()">
                </div>
                <div class="col-sm-4 text-left">Nombre de usuario</div>
                <div class="col-sm-4 text-left">Apellidos</div>
                <div class="col-sm-3">Opciones</div>
            </div>
            <!-- Solicitudes de usuarios-->
            <div th:each="solicitud : ${solicitudesPendientes}"
                 class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-sm-1 text-center">
                    <input type="checkbox" name="solicitud" th:value="${solicitud.id}"/>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <div th:text="${solicitud.usuario.firstName}"></div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <div th:text="${solicitud.usuario.lastName}"></div>
                    </a>
                </div>
                <div class="col-sm-3 text-center">
                    <!-- Botones individuales para aprobar o rechazar -->
                    <a type="button" class="btn btn-outline-success btn-sm"
                       th:href="@{'/grupos/aceptar-solicitud/' + ${solicitud.id}}">Aceptar</a>
                    <a type="button" class="btn btn-outline-danger btn-sm"
                       th:href="@{'/grupos/rechazar-solicitud/' + ${solicitud.id}}">Rechazar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="messageModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>