<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<script src="/js/calificaciones.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
        <div class="col-sm text-right text-uppercase align-self-end codigo-acceso" th:if="${idUsuarioActual eq grupo.usuario.id}">
            <span>Código de Acceso: </span>
            <span class="font-weight-bold" id="codigo-acceso" th:text="${grupo.codigoAcceso}"></span>
            <i class="fa-regular fa-copy ml-2" id="copy-icon" style="cursor: pointer;"></i>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-center mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="row">
    </div>
    <div class="col-md-12">
        <img th:src="${usuario.avatar.url}" alt="Avatar" class="img-fluid m-2 rounded-circle" style="width: 5%;"> <span th:text="${usuario.firmaAutor}"></span>
        <hr class="mt-0 mb-4">
        <div class="col-md-12">
            <form th:action="@{/grupos/calcular-media}" method="post">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-primary" onclick="calcularMedia()">Calcular Media de Notas
                    </button>
                    <h5 class="font-weight-bold text-uppercase">Nota media: <span id="media-calificacion"></span></h5>
                </div>

                <div class="list-group-item d-flex justify-content-between align-items-center font-weight-bold text-center">
                    <div class="col-sm-1 text-center">
                        <input type="checkbox" id="checkboxSeleccionarTodosLosRelatos" onchange="toggleSeleccionarTodosLosRelatos()">
                    </div>
                    <div class="col-sm-5 text-left">Título</div>
                    <div class="col-sm-4 text-center">
                        Fecha de publicación
                    </div>
                    <div class="col-sm-2 text-left">Calificación</div>
                </div>
                <div th:if="${#lists.isEmpty(listaRelatosUsuario)}" class="col-sm-auto text-center" role="alert">
                    <h2>Aquí no hay nada...</h2>
                    <img src="/images/no-content.png" class="img-fluid">
                </div>
                <div th:each="relato : ${listaRelatosUsuario}"
                     class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-sm-1 text-center">
                        <input type="checkbox" name="relatoIds" th:value="${relato.id}"/>
                    </div>
                    <div class="col-sm-5">
                        <a th:href="@{'/grupos/ver-relato-grupo/' + ${relato.id}}">
                            <div th:text="${relato.titulo}"></div>
                        </a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div th:text="${#dates.format(relato.fechaPublicacion, 'dd/MM/yyyy')}"></div>
                    </div>
                    <div class="col-sm-2">
                        <div th:text="${relato.calificacion}"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
