<link rel="stylesheet" href="/css/grupos.css">
<link rel="stylesheet" href="/css/relatos.css">
<script src="/js/grupos.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-between mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="row vista-relato-autor">
        <div class="col-sm-6">
            <a href="#" th:href="@{'/grupos/' + ${grupo.id} + '/usuario/'  + ${usuario.id} + '/relatos'}">
                <img th:src="${usuario.avatar.url}" alt="Avatar" class="img-fluid m-2 rounded-circle">
                <span th:text="${usuario.firmaAutor}"></span>
                <hr class="mt-0 mb-2">
            </a>
        </div>
        <div class="col-sm-6">
            <div class="row justify-content-end">
                <div class="col-sm-auto m-2">
                    <a class="btn btn-outline-primary m-1 btn-sm" href="javascript:history.back()">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div th:if="${#lists.isEmpty(listaRelatosUsuario)}" class="col-sm-auto text-center" role="alert">
            <h2>Aquí no hay nada...</h2>
            <img src="/images/no-content.png" class="img-fluid">
        </div>
        <div th:if="${not #lists.isEmpty(listaRelatosUsuario)}" class="row" id="relatos"
             style="display: flex; flex-wrap: wrap;">
            <th:block th:each="relato : ${listaRelatosUsuario}">
                <div class="col-md-4 mb-4" th:id="'relato-' + ${relato.id}">
                    <a th:href="@{'/grupos/' + ${relato.grupo.id} + '/relato/' + ${relato.id}}">
                        <div class="card card-relatos d-flex">
                            <img class="card-img-top" th:src="${relato.imagen.url}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a th:utext="${relato.titulo}"
                                                          th:href="@{'/grupos/ver-relato-grupo/' + ${relato.id}}"></a>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</div>