<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/gestionrelatogrupo.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
        <div class="col-sm text-right text-uppercase align-self-end codigo-acceso" th:if="${idUsuarioActual eq grupo.usuario.id}">
            <span>Código de Acceso: </span>
            <span class="font-weight-bold" id="codigo-acceso" th:text="${grupo.codigoAcceso}"></span>
            <i class="fa-regular fa-copy ml-2" id="copy-icon" style="cursor: pointer;"></i>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-center mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Encabezados de las columnas -->
            <div class="list-group-item d-flex justify-content-between align-items-center font-weight-bold text-center">
                <div class="col-sm-7 text-left">Título del Relato</div>
                <div class="col-sm-4 text-center">Estado</div>
                <div class="col-sm-1 text-center"></div>

            </div>
            <!-- Relatos Pendientes -->
            <div th:each="relatoUsuarioGrupo : ${listaRelatosUsuario}"
                 class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-sm-7">
                    <a th:href="@{'/grupos/' + ${relatoUsuarioGrupo.grupo.id} + '/relato/' + ${relatoUsuarioGrupo.id}}">
                        <div th:utext="${relatoUsuarioGrupo.titulo}"></div>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <div th:class="${relatoUsuarioGrupo.estado == 0 ? 'estado-aprobado' : (relatoUsuarioGrupo.estado == 1 ? 'estado-pendiente' : 'estado-rechazado')}">
                        <div class="font-weight-bold"
                             th:text="${relatoUsuarioGrupo.estado == 0 ? 'PUBLICADO' : (relatoUsuarioGrupo.estado == 1 ? 'PENDIENTE DE REVISIÓN' : 'RECHAZADO')}"></div>
                    </div>
                </div>
                <div class="col-sm-1 text-center" th:if="${relatoUsuarioGrupo.estado == 0}">
                    <a  th:data-relatoGrupo-id="${relatoUsuarioGrupo.id}" onclick="confirmDelete(this, 0, 'mis-relatos')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-1 text-center" th:if="${relatoUsuarioGrupo.estado == 1}">
                    <a  th:data-relatoGrupo-id="${relatoUsuarioGrupo.id}" onclick="confirmDelete(this, 1, 'mis-relatos')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-1 text-center" th:if="${relatoUsuarioGrupo.estado == 2}">
                    <a  th:data-relatoGrupo-id="${relatoUsuarioGrupo.id}" onclick="confirmDelete(this, 2, 'mis-relatos')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-1 text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modales de confirmación -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="deleteModalBody">
                <!-- Mensaje dinámico -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="confirmDeleteButton" href="#" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
