<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
        <div class="col-sm text-right align-self-end codigo-acceso" th:if="${idUsuarioActual eq grupo.usuario.id}">
            <span class="text-uppercase">Código de Acceso: </span>
            <span class="font-weight-bold" id="codigo-acceso" th:text="${grupo.codigoAcceso}"></span>
            <i class="fa-regular fa-copy ml-2" id="copy-icon" style="cursor: pointer;"></i>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-center mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Formulario para enviar las solicitudes seleccionadas -->
            <form th:action="@{/grupos/gestionar-solicitudes}" method="post">
                <!-- Botones para aprobar y rechazar todas las solicitudes -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-success" name="accion" value="aceptar">Aceptar Seleccionadas</button>
                    <button type="submit" class="btn btn-danger" name="accion" value="rechazar">Rechazar Seleccionadas</button>
                    <input type="hidden" name="grupoId" th:value="${grupo.id}">
                </div>

                <!-- Encabezados de las columnas -->
                <div class="list-group-item d-flex justify-content-between align-items-center font-weight-bold text-center">
                    <div class="col-sm-1 text-center">
                        <input type="checkbox" id="checkboxSeleccionarTodos" onchange="toggleSeleccionarTodos()">
                    </div>
                    <div class="col-sm-4 text-left">Nombre de usuario</div>
                    <div class="col-sm-4 text-left">Apellidos</div>
                    <div class="col-sm-3">Opciones</div>
                </div>
                <!-- Solicitudes de usuarios-->
                <div th:each="solicitud : ${solicitudesPendientes}" class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-sm-1 text-center">
                        <input type="checkbox" name="solicitudIds" th:value="${solicitud.id}"/>
                    </div>
                    <div class="col-sm-4">
                        <a href="#">
                            <div th:text="${solicitud.usuario.firstName}"></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#">
                            <div th:text="${solicitud.usuario.lastName}"></div>
                        </a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <!-- Botones individuales para aprobar o rechazar -->
                        <a type="button" class="btn btn-outline-success btn-sm" th:href="@{'/grupos/aceptar-solicitud/' + ${solicitud.id}}">Aceptar</a>
                        <a type="button" class="btn btn-outline-danger btn-sm" th:href="@{'/grupos/rechazar-solicitud/' + ${solicitud.id}}">Rechazar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
