<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Formulario para ingresar el código de invitación</h2>
                </div>
                <div class="card-body">
                    <form action="/grupos/unirse-grupo" method="post">
                        <div class="mb-3">
                            <label for="codigoInvitacion" class="form-label">Código de Invitación:</label>
                            <input type="text" id="codigoInvitacion" name="codigoInvitacion" class="form-control"
                                   required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Unirse al Grupo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>