
<div class="container">
    <!-- Botones para crear y unirse a grupos -->
    <div class="row mb-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearGrupoModal">
                Crear Nuevo Grupo
            </button>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-success" data-toggle="modal" data-target="#ingresarInvitacionModal">Unirse a Grupo</button>
        </div>
    </div>

    <!-- Lista de Grupos -->
    <div class="row">
        <div class="col-md-12">
            <!-- Encabezados de las columnas -->
            <div class="list-group-item d-flex justify-content-between align-items-center font-weight-bold text-center">
                <div class="col-sm-1"></div>
                <div class="col-sm-5 text-left">Nombre del Grupo</div>
                <div class="col-sm-4 text-center">Usuarios</div>
                <div class="col-sm-1">Opciones</div>
            </div>
            <!-- Grupos -->
            <div th:each="grupo : ${grupos}" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="col-sm-1" th:if="${grupo.usuario.id eq idUsuarioActual}">
                    <img src="/images/icons/owner.png" class="img-fluid" style="width: 50%">
                </div>
                <div class="col-sm-1" th:if="${grupo.usuario.id ne idUsuarioActual}">

                </div>
                <div class="col-sm-5">
                <a th:href="@{'/grupos/ver-grupo/' + ${grupo.id}}">
                    <div th:text="${grupo.nombre}">Nombre de Grupo</div>
                </a>
                </div>
                <div class="col-sm-4 text-center" th:text="${#lists.size(grupo.usuarios)} + ' usuarios'">5 usuarios
                </div>
                <div class="col-sm-1 text-center">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                            </svg>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" th:if="${grupo.usuario.id eq idUsuarioActual}" data-toggle="modal" data-target="#agregarUsuariosModal" th:data-group-id="${grupo.id}" onclick="openInvitationModal(this)">Invitar Usuarios</a>
                            <a class="dropdown-item"  href="#" th:if="${grupo.usuario.id eq idUsuarioActual}" th:href="@{'/grupos/editar-grupo/' + ${grupo.id}}">Editar</a>
                            <a class="dropdown-item"  href="#" th:if="${grupo.usuario.id eq idUsuarioActual}" data-toggle="modal" th:data-target="'#eliminarGrupoModal_' + ${grupo.id}">Eliminar</a>
                            <a class="dropdown-item abandonar-grupo-btn"  href="#" th:if="${grupo.usuario.id ne idUsuarioActual}" data-toggle="modal" data-target="#abandonarGrupoModal" th:data-group-id="${grupo.id}" id="abandonarGrupoBtns">Abandonar Grupo</a>
                        </div>
                    </div>
                </div>
                <!-- Modal para confirmar la eliminación del grupo -->
                <div class="modal fade" th:id="'eliminarGrupoModal_' + ${grupo.id}" tabindex="-1" role="dialog" aria-labelledby="'eliminarGrupoModalLabel_' + ${grupo.id}" aria-hidden="true">
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eliminarGrupoModalLabel">Eliminar Grupo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de que quieres eliminar este grupo? Se perderán todas las evaluaciones hechas a los
                                miembros y los relatos enviados se perderán, aunque los usuarios sí conservarán el relato original. El
                                grupo no se podrá recuperar.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <a class="btn btn-danger" id="eliminarGrupoBtn" th:href="@{'/grupos/eliminar-grupo/' + ${grupo.id}}" role="button">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para crear un nuevo grupo -->
<div class="modal fade" id="crearGrupoModal" tabindex="-1" role="dialog" aria-labelledby="crearGrupoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearGrupoModalLabel">Crear Nuevo Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${grupoDto}" th:action="@{/grupos/crear-grupo}" method="post">
                    <!-- Campos de edición -->
                    <div class="mb-3">
                        <label for="nombreGrupo" class="form-label">Nombre *</label>
                        <input type="text" class="form-control" id="nombreGrupo" name="nombre" maxlength="50" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción *</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" maxlength="500" required></textarea>
                    </div>
                    <!-- Botón de enviar -->
                    <button type="submit" class="btn btn-primary">Crear Grupo</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de agregar invitaciones -->
<div class="modal fade" id="invitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invitationModalLabel">Mandar invitación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Campo de correo electrónico -->
                <div class="form-group email-field">
                    <input type="email" class="form-control" id="invitationEmail" placeholder="Correo electrónico" required>
                </div>
                <!-- Mensaje de éxito o error -->
                <div id="invitationMessage" style="display: none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="sendInvitationBtn">Enviar Invitación</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para ingresar el código de invitación -->
<div class="modal fade" id="ingresarInvitacionModal" tabindex="-1" aria-labelledby="ingresarInvitacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ingresarInvitacionModalLabel">Ingresar Código de Invitación</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/grupos/ingresar-invitacion}" method="post">
                    <div class="mb-3">
                        <label for="codigoInvitacion" class="form-label">Código de Invitación:</label>
                        <input type="text" class="form-control" id="codigoInvitacion" name="codigoInvitacion" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Unirse al Grupo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para abandonar el grupo -->
<div class="modal fade" id="abandonarGrupoModal" tabindex="-1" aria-labelledby="abandonarGrupoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="abandonarGrupoModalLabel">Abandonar Grupo</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="abandonarGrupoForm" th:action="@{/grupos/abandonar-grupo}" method="post">
                    <input type="hidden" id="grupoIdInput" name="grupoId">
                    <p>¿Estás seguro de que quieres abandonar este grupo?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Abandonar Grupo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/grupos.js"></script>
