<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<script src="/js/filtros.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
        <div class="col-sm text-right  align-self-end codigo-acceso" th:if="${idUsuarioActual eq grupo.usuario.id}">
            <span class="text-uppercase">Código de Acceso: </span>
            <span class="font-weight-bold" id="codigo-acceso" th:text="${grupo.codigoAcceso}"></span>
            <i class="fa-regular fa-copy ml-2" id="copy-icon" style="cursor: pointer;"></i>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-center mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="col-md-12">
        <!-- Filtro y botones de ordenamiento -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="form-group">
                <label for="categoria"></label><select id="categoria" name="categoria" class="form-control">
                <option value="">Mostrar todas las categorías</option>
                <th:block th:each="categoria : ${listaCategorias}">
                    <option th:value="${categoria.nombre}" th:text="${categoria.nombre}"></option>
                </th:block>
            </select>
            </div>
            <div class="col-sm-3 input-group mt-3 mt-lg-0 ">
                <input class="form-control" type="search" id="searchInput" placeholder="Search" aria-label="Buscar Relato">
            </div>
        </div>
        <div th:if="${#lists.isEmpty(listaRelatosAprobados)}" class="col-sm-auto text-center" role="alert">
            <h2>Aquí no hay nada...</h2>
            <img src="/images/no-content.png" class="img-fluid">
        </div>
        <div th:if="${not #lists.isEmpty(listaRelatosAprobados)}" class="row" id="relatos"
             style="display: flex; flex-wrap: wrap;">
            <th:block th:each="relato : ${listaRelatosAprobados}">
                <div class="col-md-3 mb-4" th:id="'relato-' + ${relato.id}">
                    <a th:href="@{'/grupos/' + ${grupo.id} + '/relato/' + ${relato.id}}">
                        <div class="card card-relatos d-flex">
                            <img class="card-img-top" th:src="${relato.imagen.id != 1} ? ${relato.imagen.url} : '/images/libro.svg'" alt="Card image cap">
                            <div class="card-body px-2">
                                <h6 class="card-title text-center mb-0"><a th:utext="${relato.titulo}" th:href="@{'/grupos/' + ${grupo.id} + '/relato/' + ${relato.id}}"></a></h6>
                                <input type="hidden" class="categorias" th:each="categoria : ${relato.categorias}"
                                       th:value="${categoria.nombre}">
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Firmado: </small><small class="text-muted" th:text="${relato.firmaAutor}"></small>
                                <br/>
                                <small>Fecha de Publicación: </small><small class="text-muted text-center fechaPublicacion" th:text="${#dates.format(relato.fechaPublicacion, 'dd/MM/yyyy')}"></small>
                            </div>
                        </div>
                    </a>

                </div>
            </th:block>
        </div>
    </div>
</div>






