<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-sm-auto text-center">
            <h1 th:text="${grupo.nombre}"></h1>
        </div>
    </div>
</header>
<div class="nav-scroller py-1 mb-3 border-bottom nav-grupos">
    <nav class="nav nav-underline justify-content-between">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<div class="container">
    <div class="col-md-12">
        <div th:if="${#lists.isEmpty(listaRelatosAprobados)}" class="col-sm-auto text-center" role="alert">
            <h2>Aquí no hay nada...</h2>
            <img src="/images/no-content.png" class="img-fluid">
        </div>
        <div th:if="${not #lists.isEmpty(listaRelatosAprobados)}" class="row" id="relatos"
             style="display: flex; flex-wrap: wrap;">
            <th:block th:each="relato : ${listaRelatosAprobados}">
                <div class="col-md-4 mb-4" th:id="'relato-' + ${relato.id}">
                    <a th:href="@{'/grupos/ver-relato-grupo/' + ${relato.id}}">
                        <div class="card card-relatos d-flex">
                            <img class="card-img-top" th:src="${relato.imagen.url}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a th:utext="${relato.titulo}"
                                                          th:href="@{'/grupos/ver-relato-grupo/' + ${relato.id}}"></a>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</div>






