<link rel="stylesheet" href="/css/grupos.css">
<script src="/js/grupos.js"></script>
<link rel="stylesheet" href="/css/relatos.css">
<script src="/js/vistarelato.js"></script>
<div class="nav-scroller py-1 mb-3 nav-grupos">
    <header class="lh-1 py-3">
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">
                <h1 class ="titulo-grupo" th:text="${grupo.nombre}"></h1>
            </div>
        </div>
    </header>
    <hr class="mt-0 mb-2">
    <nav class="nav nav-underline justify-content-between mx-5">
        <th:block th:include="fragments/navgrupo.html :: nav"></th:block>
    </nav>
</div>
<!-- Contenido principal -->
<div class="container">
    <div class="row vista-relato-autor">
        <div class="col-sm-6">
            <img th:src="${relatoGrupo.usuario.avatar.url}" alt="Avatar" class="img-fluid m-2 rounded-circle">
            <span th:text="${relatoGrupo.firmaAutor}"></span>
        </div>
        <div class="col-sm-6">
            <div class="row justify-content-end">
                <div class="col-sm-auto m-2">
                    <a class="btn btn-outline-primary m-1 btn-sm" href="javascript:history.back()">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
    <span class="badge text-bg-primary" th:each="categoria : ${relatoGrupo.categorias}"
          th:text="${categoria.nombre}"></span>
    <div class="row vista-relato">
        <div class="col-sm-12 vista-relato-separador">
            <div class="row">
                <div class="col-md-12 vista-titulo-relato text-center" th:style="'background-image: url(' + ${relatoGrupo.imagen.url} + '); opacity: 0.5;'" th:utext="${relatoGrupo.titulo}"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12 vista-texto-relato" th:utext="${relatoGrupo.texto}"></div>
            </div>
            <hr class="mt-0 mb-4">
            <div class="row justify-content-md-center">
                <div class="col-md-12" th:if="${idUsuarioActual eq grupo.usuario.id}">
                    <p class="font-weight-bold">Calificación: <span th:text="${relatoGrupo.calificacion}"></span></p>

                </div>
                <div class="col-md-12 mb-4" th:if="${idUsuarioActual eq relatoGrupo.usuario.id}">
                    <p class="font-weight-bold">Apuntes sobre la revisión: </p>
                    <div class="col-md-12 p-3 feedback">
                        <span th:text="${relatoGrupo.feedback}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>