<nav class="d-flex justify-content-center">
    <div class="nav text-uppercase">
        <a class="nav-item nav-link link-body-emphasis active mx-2" th:href="@{'/grupos/' + ${grupo.id} + '/publicaciones'}">Publicaciones</a>
        <a class="nav-item nav-link link-body-emphasis mx-2" href="#" th:href="@{'/grupos/' + ${grupo.id} + '/mis-relatos'}">Mis Relatos</a>
        <a class="nav-item nav-link link-body-emphasis mx-2" th:href="@{'/grupos/' + ${grupo.id} + '/usuarios'}">Usuarios</a>
        <a class="nav-item nav-link link-body-emphasis mx-2" th:href="@{'/grupos/' + ${grupo.id} + '/gestionar-relatos'}" th:if="${idUsuarioActual eq grupo.usuario.id}">Gestionar Relatos
            <span th:if="${existenRelatosGruposPendientes}"
                  class="position-absolute top-0 start-100 translate-middle p-1 bg-danger rounded-circle">
        </span>
        </a>
        <a class="nav-item nav-link link-body-emphasis mx-2" th:href="@{'/grupos/' + ${grupo.id} + '/solicitudes'}" th:if="${idUsuarioActual eq grupo.usuario.id}">Solicitudes de Unión
            <span th:if="${existenSolicitudesPendientes}"
                  class="position-absolute top-0 start-100 translate-middle p-1 bg-danger rounded-circle">
        </span>
        </a>
    </div>
</nav>


