
<nav>
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4 pt-5">
        <img src="/images/logosc.png" class="img-fluid" alt="logo">
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a th:href="@{/index}">Home</a>
            <li>
                <a th:href="@{/relato/nuevo-relato}">Nuevo Relato</a>
            </li>
            <li>
                <a th:href="@{/relato/mis-relatos}">Tus Relatos</a>
            </li>
            <li>
                <a href="#gruposSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Grupos</a>
                <ul class="collapse list-unstyled" id="gruposSubmenu">
                    <li>
                        <a href="#">Crear Grupo</a>
                    </li>
                    <li>
                        <a href="#">Tus Grupos</a>
                    </li>
                </ul>
            </li>
            <li>
            <li>
                <a href="#perfilSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Perfil</a>
                <ul class="collapse list-unstyled" id="perfilSubmenu">
                    <li>
                        <a th:href="@{/user/profile}">Ver Perfil</a>
                    </li>
                    <li>
                        <a href="#">Editar Perfil</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">Salir</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                Todos los derechos reservados | Este proyecto ha sido realizado por <i class="icon-heart"
                                                                                       aria-hidden="true"></i> <a
                    href="#"></a>
            </p>
        </div>
    </div>
</nav>
