.nav-grupos {
    background-color: #1693a5;
    border-radius: .5rem;
}

.nav-grupos a {
    color: #fff;
    font-size: 16px;
}

.estado-aprobado {
    color: #59853c;
}

.estado-pendiente {
    color: #d5882c;
}

.estado-rechazado {
    color: #810000;
}
