<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/registro.js"></script>

</head>

<body>
<div class="container p-4 p-md-5 pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header text-center">
                    <img src="/images/login.png" class="img-fluid" alt="logo StoryCrafters">
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Te has registrado correctamente!
                    </div>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-info">
                        Esta email ya está registrado.
                    </div>
                </div>
                <div class="card-body">
                    <form class="row g-3" id="registrationForm" method="post" role="form"
                          th:action="@{/registro/save}" th:object="${usuario}">
                        <div class="col-md-6 form-group mb-3">
                            <label class="form-label">Nombre *</label>
                            <label for="firstName"></label><input class="form-control" id="firstName"
                                                                  name="firstName" placeholder="Indique su nombre"
                                                                  th:field="*{firstName}"
                                                                  type="text" required/>
                            <p th:errors="*{firstName}" class="text-danger"
                               th:if="${#fields.hasErrors('firstName')}"></p>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label class="form-label">Apellidos</label>
                            <label for="lastName"></label><input class="form-control" id="lastName"
                                                                 name="lastName" placeholder="Indique sus apellidos"
                                                                 th:field="*{lastName}"
                                                                 type="text"/>
                            <p th:errors="*{lastName}" class="text-danger"
                               th:if="${#fields.hasErrors('lastName')}"></p>
                        </div>

                        <div class="col-md-12 form-group mb-3">
                            <label class="form-label">Email *</label>
                            <label for="email"></label><input class="form-control" id="email" name="email"
                                                              placeholder="Indique su email" th:field="*{email}"
                                                              type="email" required/>
                            <p th:errors="*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label class="form-label">Password *</label>
                            <div class="input-group mb-3">
                                <input class="form-control" id="password" name="password"
                                       placeholder="Indique su contraseña" th:field="*{password}" type="password"
                                       required/>
                                <span class="input-group-text">
            <i class="bi bi-eye toggle-password" id="togglePassword"
               onclick="togglePassword('password')"></i>
        </span>
                            </div>
                            <div class="invalid-feedback" id="passwordLengthError"></div>
                        </div>


                        <div class="col-md-6 form-group mb-3 input-group">
                            <label class="form-label">Confirmar Password *</label>
                            <div class="input-group mb-3">
                                <input class="form-control" id="confirmPassword" name="confirmPassword"
                                       placeholder="Confirme su contraseña" type="password" required
                                       oninput="validarCoincidenciaContrasena()"/>
                                <span class="input-group-text">
                                    <i class="bi bi-eye toggle-password" id="toggleConfirmPassword"
                                       onclick="togglePassword('confirmPassword')"></i>
                                </span>
                            </div>
                            <div class="invalid-feedback" id="passwordMatchError"></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button class="btn btn-primary" type="submit" disabled="disabled">Registrarse</button>
                            <span>Ya tienes una cuenta? <a th:href="@{/login}">Entra aquí</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>
