<link rel="stylesheet" href="/css/galeria.css">
<script src="/js/galeria.js"></script>
<form action="/relato/nuevo-relato" method="get">
    <div class="container text-center">
        <h1 class="text-center text-uppercase">Elige una imagen para tu relato</h1>
        <hr class="mt-0">
        <div class="col-md-auto m-3">
            <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
        <div class="row">
            <!-- Recorremos la lista de imágenes y las mostramos -->
            <div class="col-md-3 mb-3" th:each="imagen : ${imagenes}">
                <!-- Utilizamos un label para envolver la imagen -->
                <label class="gallery-img">
                    <!-- Input de radio oculto -->
                    <input type="radio" name="idImagenSeleccionada" th:value="${imagen.id}" style="display: none;"
                           required>
                    <!-- Imagen -->
                    <img th:src="${imagen.url}" class="img-fluid" alt="Imagen" onclick="selectImage(this)">
                </label>
            </div>
        </div>
    </div>
</form>
